<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="A cool thing made with Gomix">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <div class="container">
      <header>
        <h1>
          Example project for Programming Extended Course
        </h1>
        <h2>
           (version A-1)
        </h2>
      </header>
  
      <main>
        Choose your API:
        <ul>
          <li><a href="https://garnet-tray.gomix.me/api/weather">Weather API</a></li>
          <li><a href="https://garnet-tray.gomix.me/api/houses">House API</a></li>
          <li><a href="https://garnet-tray.gomix.me/api/cars">Car API</a></li>
          <li><a href="https://developers.google.com/maps/documentation/javascript/">Google Maps</a></li>
        </ul>
        
        <section class="output">
          <h3>Weather API:</h3>
          <p id="output">
          </p>
        </section>
      </main>
  
      <footer>
        <a href="https://github.com/mondayrunner/programming-extended-course-A1">
          Visit repository 
        </a>
      </footer>
  </div>
  
  <!-- Your web-app is https, so your scripts need to be too -->
  <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="/client.js"></script>

  </body>
</html>
